
body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: azure;
}

header h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(39, 52, 77);
  font-size: 50px;
  text-align: center;
}

  a:hover {
    color: rgb(43, 177, 226);
  }

  /*Header*/
  header {
    width: 100%;
    text-align: center;
    background: white;
    color: black;
    height: 165px;
  }
  

  /*Nav*/
  .icon {
    width: 280px;
    border-radius: 7%;
    /*padding: 95px 30px 100px 220px;*/
    align-content: center;
    padding-top: 0.7rem;
    /*padding-left: 185px;*/
    width: 30rem;
  }


   nav  {
    display: flex;
    flex-direction: row;
    margin: 0px 2%;
  }

  nav .menu {
    display: flex;
    width: 70%;
    height: 70%;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 10%;
  }

  /* Links for nav bar*/
a {
  text-decoration: none;
  color: black;
  padding: 20px 15px;
  font-size: 20px;
}

  
/*Main Content*/

main {
  display: flex;
  margin: 30px;
  justify-content: center;
}

main h3 {
  text-align: center;
}


hr {
  width: 50%;
  text-align: left;
}


.info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.box {
  padding: 0px 0px 30px 0px;
}

.box h4 {
  text-align: center;
  color: rgb(39, 52, 77);
  font-size: 35px;
}
.box h5 {
  text-align: center;
  font-size: 16px;
}


.box h4:hover {
  color: rgb(73, 0, 128);
}


.card {
  overflow: auto;
  height: 400px;
}
.atl {
  width: 100%;
}

.column {
  float: left;
  width: 50%;
}


/* Button  */
.btn {
  border: 3px solid grey;
  padding: 5px 15px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 15px;
  color: white;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  background-color: grey;
}

.btn:hover {
  border: 3px solid rgb(73, 0, 128);
  background-color: white;
}


  

  /*Footer*/
  footer {
    background: white;
    color: black;
    text-align: center;
  }
  
  .info {
    flex-direction: column;
  }

  .column {
    float: none;
    width: 100%;
  }


/*Media Queries*/
@media (max-width: 992px){
  .menu {
    flex-direction: column;
    display: flex;
   }
}
  